body 
{
    /* Глобальные теги */
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* блок header */
.header
{
    background-color: #fcdb00; 
    height: 736px;
    width: 100%;
    margin: 0;

}
.contentHeader
{
    width: 1140px;
    margin: 0 auto;
}
.navClass
{
    display: flex;
    margin-left: 160px;
}
.Ul
{
    display: flex;
    align-items: center;
}
.navClass li
{
    list-style-type:none;
    margin-right: 30px;
    font-size: 12px;
}
.container_left
{
    float: left;
    margin-right: 150px;
}
.h2text
{
}
.ptext
{
}
.ptextLow
{
}
.container_right
{
    margin-left: 100px;
}
.Ul2
{
    display: flex;
    align-items: center;
}
.buttons li
{
    list-style-type:none;
}
/* блок main */
main
{

}




/* блок footer */
.title,
.title_main,
.addres{
    margin: 0;  /* обнуление отступов в блоке footer */

    color: #555555;
}

.content{
    max-width: 780px;
    margin: 0 auto;
    
    text-align: center;
}

footer{
    background-color: #010101;
}

.title{
    color: #fcdb00;
    font-size:  32px;

    padding-top: 100px;
}

.title_main{
    font-size: 20px;

    padding-top: 8px;
}

form{
    padding-top: 70px;
}

input{
    font-size: 16px;
}

.label{
    box-sizing: border-box;
    width: 580px;
    margin-right: 20px;
    padding: 15px 0 15px 23px;
}

.button{
    width: 130px;
    padding: 15px 0;
    text-align: center;
    background-color: #fcdb00;
}

.label,
.button{
    border-width: 0;
    border-radius: 7px;
}

.button{
    text-transform: uppercase;
    font-weight: 700;

}

.addres{
    padding-top: 50px;
    padding-bottom: 95px;
}

/* 

    Код желтого цвета: #fcdb00

    Красный цвет (для реализации плавного изменения цвета у ссылок: #ff3c00
    Анимация перехода: "transition all 0.3s ease"

*/